/*Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #001429!important;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    
    color: white;
    height: 0px;
}
nav li {
    position: relative;
}
nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    
    transition: color 0.2s ease-in-out;
}
nav a:hover {
    
    color:#E6D1C9!important;
    background: #001429;
    transition: all 0.8s;
    font-weight: bold;
}
nav ul ul {
    display: none;
    position: absolute;
    width: 150px;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1;
}
nav ul ul li {
    display: block;
    
    background-color: white;
}
nav ul ul li a {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.2s ease-in-out;
}
nav ul ul li a:hover {
    color: #E6D1C9;
}
nav ul li:hover > ul {
    display: block;
}
.nav-link {
  font-size: 15px;
}

/*Footer Style*/
footer {
    background-color: #001429;
    color: white;
    height: 220px;
      bottom: 0;
}
.about {
    width: 30%;
    float: left;
    margin-left: 200px;
    margin-top: 20px;
    text-align: right;
}
.about h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #E6D1C9;
}
.about p {
    font-size: 14px;
    line-height: 1.5em;
    color: white;
   
}
.contact {
    width: 50%;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #E6D1C9;
}
.contact p {
    font-size: 14px;
    line-height: .5em;
    color: white;
}
.contact a {
    color: white;
    text-decoration: none;
}
.contact a:hover {
    text-decoration: underline;
}
.social-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .social-icons a {
    display: flex;
    justify-content: center;
    align-items: right;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
  }
  
  #image {
    width: 100%;
    max-width: 350px;
    margin: 20px;
    border-radius: 5px;
}

/* Product Section */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}
  
image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
  
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
  
.description {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.add-to-cart {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
#additional-photos {
    display: flex;
    margin-top: 20px;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

#additional-photos img {
    width: 150px;
    height: 150px;
}
.bordered {
    border: 1px solid black;
}

/* Size Selector */
.size-selector {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
  
.size-selector label {
    margin-right: 1rem;
}
  
.size-selector select {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}