.Container99{
  height: 100%;
}

/*Header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #001429!important;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    
    color: white;
    height: 0px;
}
nav li {
    position: relative;
}
nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    
    transition: color 0.2s ease-in-out;
}
nav a:hover {
    
    color:#E6D1C9!important;
    background: #001429;
    transition: all 0.8s;
    font-weight: bold;
}
nav ul ul {
    display: none;
    position: absolute;
    width: 150px;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1;
}
nav ul ul li {
    display: block;
    
    background-color: white;
}
nav ul ul li a {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.2s ease-in-out;
}
nav ul ul li a:hover {
    color: #E6D1C9;
}
nav ul li:hover > ul {
    display: block;
}
.nav-link {
  font-size: 15px;
}



/* Hero Section*/

.hero-section {
    position: relative;
    height: 750px;
    background-color: #333;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.hero-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.hero-slide.active {
    opacity: 1;
}
.hero-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
/*Footer Style*/
footer {
    background-color: #001429;
    color: white;
    height: 220px;
      bottom: 0;
}
.about {
    width: 30%;
    float: left;
    margin-left: 200px;
    margin-top: 20px;
    text-align: right;
}
.about h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #E6D1C9;
}
.about p {
    font-size: 14px;
    line-height: 1.5em;
    color: white;
   
}
.contact {
    width: 50%;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #E6D1C9;
}
.contact p {
    font-size: 14px;
    line-height: .5em;
    color: white;
}
.contact a {
    color: white;
    text-decoration: none;
}
.contact a:hover {
    text-decoration: underline;
}

/*Search Bar*/

.search-label {
    display: none;
}

.search-button {
    background-color: white;
    color: #E6D1C9;
    border: 1px solid #000000;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
}

.search-button:hover {
    background-color: #E6D1C9;
}

#search {
    border: 1px solid #000000;
    padding: 10px;
    font-size: 16px;
    width: 400px;
    border-radius: 4px;
    text-align: center;
    font-family: Arial, sans-serif;
}

#search:focus {
    outline: none;
    border-color: #000000;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#search:hover{
    border: 1.5px solid #000000;
    background-color: #E6D1C9;
  }

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    margin-right: 10px;
}

/*Video*/

.container2 {
    display: flex;
    flex-direction: row;
  }
  
  video {
    max-width: 100%;
    height: auto;
    margin-right: 90px;
    border-radius: 10px;
  }
  
  p {
    /*font-size: 30px;*/
    line-height: 1.5;
    max-width: 700px;
    align-items: top;
    /*font-family: Arial, sans-serif;*/
    text-align: justify;
  }
  b {
    font-weight: bold;
    font-size: xx-large;
  }

  /*Rating 1*/

  .rating {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #414141;
    margin-top: 10px;
  }
  
  .rating span {
    margin-right: 5px;
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating label:before {
    content: "\2605";
  }
  
  .rating input[type="radio"]:checked ~ label:before {
    content: "\2605";
    color: #ffcc00;
  }
  
   /*Rating 2*/
  .rating2 {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #414141;
    margin-top: 10px;
  }
  
  .rating2 span {
    margin-right: 5px;
  }
  
  .rating2 input[type="radio"] {
    display: none;
  }
  
  .rating2 label {
    cursor: pointer;
  }
  
  .rating2 label:before {
    content: "\2605";
  }
  
  .rating2 input[type="radio"]:checked ~ label:before {
    content: "\2605";
    color: #ffcc00;
  }

   /*Rating 3*/
   .rating3 {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #414141;
    margin-top: 10px;
  }
  
  .rating3 span {
    margin-right: 5px;
  }
  
  .rating3 input[type="radio"] {
    display: none;
  }
  
  .rating3 label {
    cursor: pointer;
  }
  
  .rating3 label:before {
    content: "\2605";
  }
  
  .rating3 input[type="radio"]:checked ~ label:before {
    content: "\2605";
    color: #ffcc00;
  }

  /*Rating 4*/
  .rating4 {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #414141;
    margin-top: 10px;
  }
  
  .rating4 span {
    margin-right: 5px;
  }
  
  .rating4 input[type="radio"] {
    display: none;
  }
  
  .rating4 label {
    cursor: pointer;
  }
  
  .rating4 label:before {
    content: "\2605";
  }
  
  .rating4 input[type="radio"]:checked ~ label:before {
    content: "\2605";
    color: #ffcc00;
  }

  /*Rating 5*/
  .rating5 {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #414141;
    margin-top: 10px;
  }
  
  .rating5 span {
    margin-right: 5px;
  }
  
  .rating5 input[type="radio"] {
    display: none;
  }
  
  .rating5 label {
    cursor: pointer;
  }
  
  .rating5 label:before {
    content: "\2605";
  }
  
  .rating5 input[type="radio"]:checked ~ label:before {
    content: "\2605";
    color: #ffcc00;
  }

  /*Rating 6*/
  .rating6 {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #414141;
    margin-top: 10px;
  }
  
  .rating6 span {
    margin-right: 5px;
  }
  
  .rating6 input[type="radio"] {
    display: none;
  }
  
  .rating6 label {
    cursor: pointer;
  }
  
  .rating6 label:before {
    content: "\2605";
  }
  
  .rating6 input[type="radio"]:checked ~ label:before {
    content: "\2605";
    color: #ffcc00;
  }
  
  .social-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: right;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.card {
  width: 300px;
  height: 600px; 
  overflow: hidden; 
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.card img {
  object-fit: cover; 
  width: 100%; 
  height: 100%;
}
  
.card:hover {
  transform: scale(1.10); 
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 1.20);
}

.card:hover .card-body {
  opacity: 0.8; 
}

.card-img-top {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-img-top img {
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
}

.card-img-top .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.card:hover .card-img-top .hover-img {
  opacity: 1;
}

.card:hover .card-img-top img {
  opacity: 1;
}
.card:hover .card-img-top:last-child {
  transform: scale(1.00);
}
.card-img-top {
  transition: transform 0.3s ease-in-out;
}

